@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #202225;
  }

  ::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 100vh;
    border: 2px solid #db2777;
  }
}
